page-login {

    img.login_img {
        padding-top: 87px;
        padding-right: 115px;
        padding-left: 110px;
        padding-bottom: 35px;
    }

    .toolbar-title.toolbar-title-ios {
        color: white;
    }






}
