page-login {

    img.login_img {
        padding-top: 87px;
        padding-right: 115px;
        padding-left: 110px;
        padding-bottom: 35px;
    }

    .toolbar-title.toolbar-title-ios {
        color: white;
    }

    button.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md {
        background-color: orange;
        margin-top: 30px;
    }
    
    ion-label.check_name {
        padding-top: 20px;
    }

    ion-checkbox.check_box {
        padding-top: 20px;
    }




}
