page-app {

    ion-title.principal_title{
        color: white;
    }

    h1.principal_text{
        font-weight: bold;
    }


    h3.principal_subtext{
        font-style: italic;
    }

    ion-card.principal_card{
        height: 200px;
        margin-bottom: 40px;
    }

    

    
    

}
