<!--
  Generated template for the TitlemsgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Título do post</ion-title>
  </ion-navbar>

 
      
  

</ion-header>


<ion-content padding>
      <div *ngIf="posts != null">
          <post [mainpost]="post" *ngFor="let post of posts"></post>
      </div>
      <p *ngIf="posts == null">Não existem posts!</p>
</ion-content>
