// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-avatar.avatar1{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: teal;
}

.avatarname{
    height: 100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
}

p.maintext{
    white-space: normal;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.toolbar-title.toolbar-title-md {
    white-space: normal;
}

.subtext_main{
    font-style: italic;
}


.titlecard{
    font-weight: bold;
    white-space: normal;
}

.botao{
    margin-top: 35px;
    margin-bottom: 35px;
}

.botao3{
    background-color: rgb(230, 19, 54);
}

.check_box{
    margin-bottom: 35px;
    margin-top: 35px;

}

.botaologin{
    background-color: orange;
}

.item-md ion-avatar ion-img,
.item-md ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}

.cardmain{
    background-color: rgb(209, 202, 202);
}


.cardname{
    font-size: 13px;
    display: inline;
    
}

.carddate{
    font-size: 13px;
    display: inline;
    float: right;
    
}

.carddate1{
    font-size: 13px;
    display: inline;

}

.cardhour{
    font-size: 13px;
    display: inline;
    float: right;
}

.iconcam{
    text-align: center;
    margin-top: 20px;
  }

  .iconcamera{
    font-size: 70px;
    margin-right: 40px;
  }

  .iconalbum{
    font-size: 70px;
    margin-left: 40px;
  }
