<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class="titlecam">Selecione uma foto para o seu perfil:</p>
  <ion-content class="card-background-page">
    <ion-card>
      <div *ngIf="photo == null">
        <img src="assets/imgs/camerabranco.png" />
      </div>
      <div *ngIf="photo != null">
        <img src="{{photo}}" />
      </div>
    </ion-card>
    <div class="iconcam">
      <ion-icon class="iconcamera" (click)="getPhoto('photo')" name="camera"></ion-icon>
      <ion-icon class="iconalbum" (click)="getPhoto('galery')" name="images"></ion-icon>
    </div>
  </ion-content>
  
</ion-content>