page-app {

    ion-title.app_title{
        color: white;
    }

    h1.app_text{
        font-weight: bold;
    }

    .item-md ion-avatar ion-img,
    .item-md ion-avatar img {
      border-radius: 50%;
      overflow: hidden;
      width: 60px;
      height: 60px;
    }

    h3.app_subtext{
        font-style: italic;
    }

    ion-card.app_card{
        height: 200px;
        margin-bottom: 40px;
    }

    #buttonlogout{
        margin-top: 40px;
    }

}
